@font-face {
   font-family: "Onest";
   src: url(../assets/fonts/onest/Onest-Light.woff2) format('woff2');
   font-style: normal;
   font-weight: 300;
   font-display: swap;
}
@font-face {
   font-family: "Onest";
   src: url(../assets/fonts/onest/Onest-Regular.woff2) format('woff2');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}
@font-face {
   font-family: "Onest";
   src: url(../assets/fonts/onest/Onest-Medium.woff2) format('woff2');
   font-style: normal;
   font-weight: 500;
   font-display: swap;
}
@font-face {
   font-family: "Onest";
   src: url(../assets/fonts/onest/Onest-SemiBold.woff2) format('woff2');
   font-style: normal;
   font-weight: 600;
   font-display: swap;
}
@font-face {
   font-family: "Onest";
   src: url(../assets/fonts/onest/Onest-Bold.woff2) format('woff2');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}
@font-face {
   font-family: "Onest";
   src: url(../assets/fonts/onest/Onest-ExtraBold.woff2) format('woff2');
   font-style: normal;
   font-weight: 800;
   font-display: swap;
}


@import "tailwindcss";

body {
  background-color: #111; 
  overscroll-behavior-y: none; /* Mencegah efek pantul berlebih */
}

@theme {
  --font-Onest: "Onest", "sans-serif";

  --color-dark-light: oklch(0.3 0 264);

  --inset-shadow-sm-cus: inset 0 1px 2px #ffffff30,
  0 1px 2px #00000030,
  0 2px 4px #00000015;
  --inset-shadow-md-cus: inset 0 1px 2px #ffffff50,
  0 2px 4px #00000030,
  0 2px 8px #00000015;
  --inset-shadow-lg-cus: inset 0 1px 2px #ffffff70,
  0 4px 6px #00000030,
  0 6px 10px #00000015;

  --animate-bounce-in: bounce-in 1.4s linear(0, 0.011, 0.0414, 0.0874, 0.1454, 0.2123, 0.2851, 0.3615, 0.439, 0.516, 0.5908, 0.6622, 0.7292, 0.7911, 0.8475, 0.8979, 0.9423, 0.9807, 1.0133, 1.0403, 1.0621, 1.079, 1.0914, 1.0999, 1.1048, 1.1067, 1.106, 1.1032, 1.0986, 1.0926, 1.0857, 1.078, 1.0699, 1.0616, 1.0534, 1.0453, 1.0376, 1.0304, 1.0236, 1.0175, 1.012, 1.0071, 1.0029, 0.9993, 0.9963, 0.9938, 0.9919, 0.9905, 0.9895, 0.9889, 0.9886, 0.9886, 0.9889, 0.9894, 0.99, 0.9907, 0.9915, 0.9924, 0.9932, 0.9941, 0.995, 0.9958, 0.9966, 0.9973, 0.998, 0.9986, 0.9991, 0.9996, 1, 1.0003, 1.0006, 1.0008, 1.001, 1.0011, 1.0012, 1.0012, 1.0012, 1.0012, 1.0011, 1.0011, 1.001, 1.0009, 1.0008, 1.0007, 1.0006, 1.0006, 1.0005, 1.0004, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1, 1, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 1) forwards;
  --animate-bounce-in-late: bounce-in 1.8s linear(0, 0.011, 0.0414, 0.0874, 0.1454, 0.2123, 0.2851, 0.3615, 0.439, 0.516, 0.5908, 0.6622, 0.7292, 0.7911, 0.8475, 0.8979, 0.9423, 0.9807, 1.0133, 1.0403, 1.0621, 1.079, 1.0914, 1.0999, 1.1048, 1.1067, 1.106, 1.1032, 1.0986, 1.0926, 1.0857, 1.078, 1.0699, 1.0616, 1.0534, 1.0453, 1.0376, 1.0304, 1.0236, 1.0175, 1.012, 1.0071, 1.0029, 0.9993, 0.9963, 0.9938, 0.9919, 0.9905, 0.9895, 0.9889, 0.9886, 0.9886, 0.9889, 0.9894, 0.99, 0.9907, 0.9915, 0.9924, 0.9932, 0.9941, 0.995, 0.9958, 0.9966, 0.9973, 0.998, 0.9986, 0.9991, 0.9996, 1, 1.0003, 1.0006, 1.0008, 1.001, 1.0011, 1.0012, 1.0012, 1.0012, 1.0012, 1.0011, 1.0011, 1.001, 1.0009, 1.0008, 1.0007, 1.0006, 1.0006, 1.0005, 1.0004, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1, 1, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 1) forwards;
  @keyframes bounce-in {
     0% {
        transform: translateY(-200px);
        opacity: 0;
     }
     100% {
        transform: translateY(0px);
        opacity: 1;
     }
  }

  --animate-spinner: spinner 2s linear infinite;
  @keyframes spinner {
     0% {
        transform: rotate(360deg);
     }
     100% {
        transform: rotate(0deg);
     }
  }


  --animate-pulse-size: pulse-size 1s cubic-bezier(0.7,0.1,0.5,0.9) infinite;
  --animate-fade-in: fade-in 1s ease-out forwards;
  --animate-fade-in-main: fade-in 1.2s ease-out forwards;
  --animate-fade-out: fade-out 1s ease-in forwards;
  @keyframes pulse-size {
    0% {
      transform: scale(0.70);
    }
    50% {
       transform: scale(1.3);
    }
    100% {
      transform: scale(0.70);
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  --animate-slide-from-right: slide-from-right 1s cubic-bezier(0.7,0.1,0.5,0.9) forwards;
  --animate-slide-from-left: slide-from-left 1s cubic-bezier(0.7,0.1,0.5,0.9) forwards;
  --animate-slide-from-top: slide-from-top .7s linear(0, 0.011, 0.0414, 0.0874, 0.1454, 0.2123, 0.2851, 0.3615, 0.439, 0.516, 0.5908, 0.6622, 0.7292, 0.7911, 0.8475, 0.8979, 0.9423, 0.9807, 1.0133, 1.0403, 1.0621, 1.079, 1.0914, 1.0999, 1.1048, 1.1067, 1.106, 1.1032, 1.0986, 1.0926, 1.0857, 1.078, 1.0699, 1.0616, 1.0534, 1.0453, 1.0376, 1.0304, 1.0236, 1.0175, 1.012, 1.0071, 1.0029, 0.9993, 0.9963, 0.9938, 0.9919, 0.9905, 0.9895, 0.9889, 0.9886, 0.9886, 0.9889, 0.9894, 0.99, 0.9907, 0.9915, 0.9924, 0.9932, 0.9941, 0.995, 0.9958, 0.9966, 0.9973, 0.998, 0.9986, 0.9991, 0.9996, 1, 1.0003, 1.0006, 1.0008, 1.001, 1.0011, 1.0012, 1.0012, 1.0012, 1.0012, 1.0011, 1.0011, 1.001, 1.0009, 1.0008, 1.0007, 1.0006, 1.0006, 1.0005, 1.0004, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1, 1, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 1) forwards;
  --animate-slide-from-bottom: slide-from-bottom .7s linear(0, 0.011, 0.0414, 0.0874, 0.1454, 0.2123, 0.2851, 0.3615, 0.439, 0.516, 0.5908, 0.6622, 0.7292, 0.7911, 0.8475, 0.8979, 0.9423, 0.9807, 1.0133, 1.0403, 1.0621, 1.079, 1.0914, 1.0999, 1.1048, 1.1067, 1.106, 1.1032, 1.0986, 1.0926, 1.0857, 1.078, 1.0699, 1.0616, 1.0534, 1.0453, 1.0376, 1.0304, 1.0236, 1.0175, 1.012, 1.0071, 1.0029, 0.9993, 0.9963, 0.9938, 0.9919, 0.9905, 0.9895, 0.9889, 0.9886, 0.9886, 0.9889, 0.9894, 0.99, 0.9907, 0.9915, 0.9924, 0.9932, 0.9941, 0.995, 0.9958, 0.9966, 0.9973, 0.998, 0.9986, 0.9991, 0.9996, 1, 1.0003, 1.0006, 1.0008, 1.001, 1.0011, 1.0012, 1.0012, 1.0012, 1.0012, 1.0011, 1.0011, 1.001, 1.0009, 1.0008, 1.0007, 1.0006, 1.0006, 1.0005, 1.0004, 1.0003, 1.0002, 1.0002, 1.0001, 1.0001, 1, 1, 0.9999, 0.9999, 0.9999, 0.9999, 0.9999, 1) forwards;
  @keyframes slide-from-right { 
    0% {
      transform: translateX(400px)
    }
    100% {
      transform: translateX(0px)
    }
  }
  @keyframes slide-from-left {
    0% {
      transform: translateX(-400px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  @keyframes slide-from-top {
    0% {
      transform: translateY(-60%) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scale(0.5);
      opacity: 0;
    }
  }
  @keyframes slide-from-bottom {
    0% {
      transform: translateY(60%) scale(0.8);
      opacity: 0;

    }
    100% {
      transform: translateY(0px) scale(1);
      opacity: 1;
    }
  }


  --animate-hand-swing: hand-swing 1s ease-in-out infinite alternate;
  @keyframes hand-swing {
    0% {
      transform: rotateZ(-20deg)
    },
    50% {
      transform: rotateZ(0deg)
    }
    100% {
      transform: rotateZ(30deg)
    }
  }


  --animate-up-down: up-down 1s ease-in-out infinite alternate;
  @keyframes up-down {
    0% {
      transform: translateY(-10px);
      opacity: 0.3;
    },
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}
